@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Reservation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body class="min-h-screen flex flex-col bg-white">
<nav class="bg-white border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/Home" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-xl text-green-700 font-bold whitespace-nowrap">Reservation</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium items-center flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
                @if (!User.Identity!.IsAuthenticated)
                {
                    <li class="flex flex-row items-center">
                        <svg class="w-5 h-5 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                        <a href="#" class="py-2 px-1 text-sm font-medium text-gray-700" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" aria-current="page">Login</a>
                    </li>
                }
                else
                {
                    <li class="flex flex-row items-center">
                        <svg class="w-5 h-5 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                        </svg>
                        <a href="/Home/Favorites" class="py-2 px-1 text-sm font-medium text-gray-700" aria-current="page">Favorites</a>
                    </li>
                    <li>
                        <div class="flex flex-row items-center">
                            <button type="button" class="flex text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                                <span class="sr-only">Open user menu</span>
                                <svg class="w-6 h-6 text-gray-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm" id="user-dropdown">
                                <div class="px-4 py-3">
                                    <span class="block text-sm text-gray-900">
                                        @User?.Claims?.FirstOrDefault(i => i.Type == "name")?.Value
                                    </span>
                                    <span class="block text-sm  text-gray-500 truncate">
                                        @User?.Claims?.FirstOrDefault(i => i.Type == "email")?.Value
                                    </span>
                                </div>
                                <ul class="py-2" aria-labelledby="user-menu-button">
                                    @if (@User?.Claims?.FirstOrDefault(i => i.Type == ClaimTypes.Role)?.Value == "HotelAdmin")
                                    {
                                        <li>
                                            <a href="/Admin/Index" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Hotel Portal</a>
                                        </li>
                                    }
                                    @if (@User?.Claims?.FirstOrDefault(i => i.Type == ClaimTypes.Role)?.Value == "SuperAdmin")
                                    {
                                        <li>
                                            <a href="/Admin/SuperAdmin" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Admin Portal</a>
                                        </li>
                                    }
                                    <li>
                                        <a href="/account/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@await Html.PartialAsync("_LoginModalPartial")
@await Html.PartialAsync("_SignUpModalPartial")

<div class="w-full flex-grow">
    @RenderBody()
</div>

<footer class="bg-gray-50 border-t border-gray-100">
    <div class="flex justify-end mx-auto w-full max-w-screen-xl p-4">
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm font-bold text-green-700 sm:text-center">© 2025 <a href="https://flowbite.com/" class="hover:underline">Reservation™</a>. All Rights Reserved.
          </span>
      </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
<script src="~/js/login.js"></script>
<script src="~/js/signup.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>